.jumbotron{
    color:rgb(57, 59, 185);
    background-color: azure;
    padding: 5px;
}

footer{
    background-color: azure;
    margin-top: 10px;
}

footer div{
    display: flex;
}
.card-hotel{
    margin: 5px;
    flex: 1 200px;
}

.btn-reserva{
    width: 100%;
    
}

.tab-content{
    padding-top: 10px;
}